*{
    margin: 0;
    padding: 0;
}

h2{
    padding: 20px;
    margin-top: 20px;
    display:flex;
    justify-content: center;
}

p{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: -10px;
}

img{
    width: 4%;
    padding: 5px;
    margin-top: 20px;
    margin-left: 60px;
    cursor: pointer;
}

#google{
    margin-left: 535px;
}

.form-group{
    width:30%;
    margin-left: 470px;
    margin-top: 30px;
}

.form-check-label{
    cursor: pointer;
}

.btn-primary{
    margin-left: 650px;
}